<div
  class="h-{{ height }} rounded-lg grid grid-cols-5 px-5 py-3 w-full"
  [ngStyle]="{
    'background-color':
      color == 'green_1'
        ? '#6EDAB6'
        : color == 'green_2'
        ? '#6FDB90'
        : color == 'blue_1'
        ? '#6EB8DB'
        : '#6DDBDA'
  }"
>
  <div class="bg-white rounded-full w-[100px] h-[100px] p-5 col-span-2">
    <img [src]="img_path" class="w-full h-full" />
  </div>
  <div class="text-right grid grid-rows-2 col-span-3">
    <div class="relative w-full">
      <b class="text-white absolute top-0 right-0 text-lg">{{ title }}</b>
      <b class="text-white absolute bottom-2 right-0">{{ subtitle }}</b>
    </div>
    <div class="relative w-full">
      <b class="text-white absolute top-3 right-0">{{ subfooter }}</b>
      <b class="text-white absolute bottom-0 right-0">{{ footer }}</b>
    </div>
  </div>
</div>
