<div class="px-2 md:px-5 pt-2 pb-14">
  <mat-card class="py-5 md:py-1 px-5 mb-5 mt-1 md:mt-5">
    <div class="grid grid-cols-12 items-center">
      <div class="col-span-12 md:col-span-1">
        <p class="text-lg">
          # Rutas:
          <span class="text-blue_3 font-black">{{ routes.length }}</span>
        </p>
      </div>

      <mat-form-field class="md:mr-5 translate-y-2 col-span-12 md:col-span-9">
        <mat-label>Buscar Ruta</mat-label>
        <input
          matInput
          placeholder="Nombre de la ruta o lugar"
          #input
          (keydown)="filterClients($event)"
        />
        <button
          mat-icon-button
          style="position: absolute; right: 0; top: 5px"
          (click)="filterClients(input.value)"
        >
          <mat-icon matSuffix class="cursor-pointer">search</mat-icon>
        </button>
        <button
          mat-icon-button
          style="position: absolute; right: 50px; top: 5px"
          (click)="clearFilter(input)"
        >
          <mat-icon matSuffix class="cursor-pointer">close</mat-icon>
        </button>
      </mat-form-field>
      <div class="text-right">
        <button
          class="mt-5 w-1/8 m-4"
          mat-raised-button
          style="
            background-color: #6ddbda;
            color: white;
            padding: 0 50px 0 50px;
          "
          (click)="showDialogRoute(null, 1)"
          *ngIf="roleActual == 'Administrador'"
        >
          Agregar
        </button>
      </div>
    </div>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let route of routes"
      style="text-align: center"
    >
      <mat-expansion-panel-header
        [ngStyle]="{
          display: appStorage.isDesktop ? 'flex' : 'contents',
        }"
      >
        <div
          class="w-full h-full grid grid-cols-12 text-left items-center py-5"
        >
          <div class="col-span-5" *ngIf="!appStorage.isDesktop"></div>

          <div
            class="col-span-7 md:col-span-2 rounded"
            *ngIf="!appStorage.isDesktop"
          >
            <p>
              Ruta: <span class="text-blue_3">{{ route.name }}</span>
            </p>
          </div>

          <div class="col-span-5" *ngIf="!appStorage.isDesktop"></div>
          <div
            class="col-span-4 md:col-span-2"
            *ngIf="roleActual == 'Administrador' && appStorage.isDesktop"
          >
            <button mat-icon-button (click)="showDialogRoute(route, 1)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="showDialogRoute(route, 2)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <div
            class="absolute"
            *ngIf="roleActual == 'Administrador' && !appStorage.isDesktop"
          >
            <button
              mat-icon-button
              (click)="showDialogRoute(route, 1)"
              class="ml-5 translate-y-2"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="showDialogRoute(route, 2)"
              class="ml-5 translate-y-2"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <div
            class="col-span-7 md:col-span-2 rounded"
            *ngIf="appStorage.isDesktop"
          >
            <p>
              Ruta: <span class="text-blue_3">{{ route.name }}</span>
            </p>
          </div>

          <div class="col-span-7 md:col-span-2 rounded">
            <p>
              Lugar de Reparto:
              <span class="text-blue_2">{{ route.location }}</span>
            </p>
          </div>

          <div class="col-span-5" *ngIf="!appStorage.isDesktop"></div>

          <div class="col-span-7 md:col-span-4 rounded">
            <p>
              Días de Reparto:
              <span class="text-green_1">{{ route.weekdays }}</span>
            </p>
          </div>

          <div class="col-span-5" *ngIf="!appStorage.isDesktop"></div>

          <div class="col-span-7 md:col-span-2" [ngSwitch]="route.status">
            <p>
              Estado:
              <span *ngSwitchCase="'PREORDER'" class="text-blue_3"
                >En preventa</span
              >
              <span *ngSwitchCase="'OPENED'" class="text-blue_3"
                >En Distribución</span
              >
              <span *ngSwitchCase="'CLOSE_REQUEST'" class="text-blue_3"
                >Solicitud de cierre</span
              >
              <span *ngSwitchCase="'CLOSED'" class="text-blue_3">Cerrada</span>
              <span *ngSwitchCase="'WHITOUT'" class="text-blue_3"
                >Sin distribuciones</span
              >
            </p>
          </div>
        </div>
      </mat-expansion-panel-header>

      <div class="grid grid-cols-3">
        <div class="col-span-3 md:col-span-2 pb-[16px] md:pl-[16px]">
          <table
            aria-describedby="weekdays"
            mat-table
            [dataSource]="[route]"
            class="mat-elevation-z8 mt-5"
          >
            <ng-container
              *ngFor="let weekday of weekdays"
              matColumnDef="{{ weekday }}"
            >
              <th mat-header-cell *matHeaderCellDef>{{ weekday }}</th>
              <td mat-cell *matCellDef="let element">
                <div
                  class="color-div"
                  [ngStyle]="{
                    'background-color': route.weekdays.includes(weekday)
                      ? '#6fdb90'
                      : 'white'
                  }"
                ></div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="weekdays"></tr>
            <tr mat-row *matRowDef="let row; columns: weekdays"></tr>
          </table>
        </div>

        <div
          class="rounded centered-container col-span-3 md:col-span-1 mb-5"
          [ngSwitch]="route.status"
        >
          <p>
            Estado:
            <span *ngSwitchCase="'PREORDER'" class="text-blue_3"
              >En preventa</span
            >
            <span *ngSwitchCase="'OPENED'" class="text-blue_3"
              >En Distribución</span
            >
            <span *ngSwitchCase="'CLOSE_REQUEST'" class="text-blue_3"
              >Solicitud de cierre</span
            >
            <span *ngSwitchCase="'CLOSED'" class="" [formGroup]="formDate">
              <span class="text-blue_3">Cerrada</span> <br /><br />

              <mat-form-field class="example-form-field">
                <mat-label>Fecha de distribución</mat-label>
                <input
                  matInput
                  [matDatepicker]="datepicker"
                  formControlName="date"
                  [min]="minDate"
                />
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="datepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button
                      mat-raised-button
                      color="primary"
                      matDatepickerApply
                    >
                      Apply
                    </button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </span>
            <span *ngSwitchCase="'WHITOUT'" class="" [formGroup]="formDate">
              <span class="text-blue_3">Sin distribuciones</span> <br /><br />

              <mat-form-field class="example-form-field">
                <mat-label>Fecha de distribución</mat-label>
                <input
                  matInput
                  [matDatepicker]="datepicker"
                  formControlName="date"
                  [min]="minDate"
                />
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="datepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button
                      mat-raised-button
                      color="primary"
                      matDatepickerApply
                    >
                      Apply
                    </button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </span>
          </p>
          <button
            mat-raised-button
            type="button"
            class="w-1/2 my-5 bg-blue_3 text-white button-status"
            [style]="
              formDate.invalid
                ? 'background-color: #E3E3E3; color: white'
                : 'background-color: #6fdb90; color: white'
            "
            *ngIf="route.status ? route.status.toString() === 'CLOSED' : false"
            (click)="managementRoute(route, true)"
            [disabled]="formDate.invalid"
          >
            Iniciar Preventa
          </button>
          <button
            mat-raised-button
            type="button"
            class="w-1/2 mt-5 bg-blue_3 text-white button-status"
            [style]="
              route.status?.toString() === 'WHITOUT'
                ? formDate.invalid
                  ? 'background-color: #E3E3E3; color: white'
                  : 'background-color: #404452; color: white'
                : 'background-color: #404452; color: white'
            "
            (click)="
              managementRoute(route, route.status?.toString() !== 'CLOSED')
            "
            [disabled]="
              route.status?.toString() === 'WHITOUT' ? formDate.invalid : false
            "
            *ngIf="
              ((route.status?.toString() === 'PREORDER' ||
                route.status?.toString() === 'WHITOUT') &&
                (roleActual == 'Prevendedor' || roleActual == 'Administrador')) ||
              ((route.status?.toString() === 'OPENED' ||
                route.status?.toString() === 'CLOSE_REQUEST') &&
                roleActual == 'Distribuidor') ||
              (route.status?.toString() === 'CLOSED' &&
                roleActual == 'Administrador')
            "
          >
            {{
              route.status
                ? route.status.toString() === "PREORDER"
                  ? "Ir a la preventa"
                  : route.status.toString() === "OPENED"
                  ? "Ir a la distribución"
                  : route.status.toString() === "CLOSE_REQUEST"
                  ? "Ir a la distribución"
                  : route.status.toString() === "CLOSED"
                  ? "Ver último reporte"
                  : "Iniciar Preventa"
                : "Iniciar Preventa"
            }}
          </button>
          <button
            mat-raised-button
            type="button"
            class="w-1/2 mt-5 bg-blue_3 text-white button-status"
            style="background-color: #404452; color: white"
            (click)="initDistributionAdmin(route)"
            *ngIf="
              appStorage.actualRol == 'Administrador' &&
              route.status!.toString() == 'PREORDER'
            "
          >
            Iniciar Distribución
          </button>
          <button
            mat-raised-button
            type="button"
            class="w-1/2 mt-5 bg-blue_3 text-white button-status"
            style="background-color: #9f354a; color: white"
            (click)="rejectClosed(route)"
            *ngIf="
              appStorage.actualRol == 'Administrador' &&
              route.status!.toString() == 'CLOSE_REQUEST'
            "
          >
            Rechazar solicitud
          </button>
          <button
            mat-raised-button
            type="button"
            class="w-1/2 mt-5 bg-blue_3 text-white button-status"
            style="background-color: #38a057; color: white"
            (click)="acceptClosed(route)"
            *ngIf="
              appStorage.actualRol == 'Administrador' &&
              route.status!.toString() == 'CLOSE_REQUEST'
            "
          >
            Aceptar solicitud
          </button>

          <button
            mat-raised-button
            type="button"
            class="w-1/2 mt-5 bg-blue_3 text-white button-status"
            style="background-color: #9f354a; color: white"
            (click)="acceptClosed(route)"
            *ngIf="
              appStorage.actualRol == 'Administrador' &&
              route.status!.toString() == 'OPENED'
            "
          >
            Cerrar Distribución
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
