<div class="m-4">
  <div class="text-right">
    <button
      class="mt-5 w-1/8 m-4"
      mat-raised-button
      style="background-color: #6ddbda; color: white; padding: 0 50px 0 50px"
      (click)="showDialogRoute(null, 1)"
    >
      Agregar
    </button>
  </div>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let route of routes">
      <mat-expansion-panel-header>
        <div class="w-full h-full grid grid-cols-4 items-center">
          <div class="col-start-1 rounded">
            <p>
              Ruta: <span class="text-blue_3">{{ route.name }}</span>
            </p>
          </div>

          <div class="col-start-2 rounded">
            <p>
              Lugar de Reparto:
              <span class="text-blue_2">{{ route.location }}</span>
            </p>
          </div>

          <div class="col-start-3 rounded">
            <p>
              Días de Reparto:
              <span class="text-green_1">{{ route.weekdays }}</span>
            </p>
          </div>
          <div class="col-start-4">
            <button mat-icon-button (click)="showDialogRoute(route, 1)">
              <mat-icon>info</mat-icon>
            </button>
            <button mat-icon-button (click)="showDialogRoute(route, 2)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel-header>

      <div class="grid grid-cols-3">
        <div class="col-start-1 col-span-2">
          <table
            aria-describedby="weekdays"
            mat-table
            [dataSource]="[route]"
            class="mat-elevation-z8"
          >
            <ng-container
              *ngFor="let weekday of weekdays"
              matColumnDef="{{ weekday }}"
            >
              <th mat-header-cell *matHeaderCellDef>{{ weekday }}</th>
              <td mat-cell *matCellDef="let element">
                <div
                  class="color-div"
                  [style.background-color]="
                    route.weekdays.includes(weekday) ? '#6fdb90' : 'white'
                  "
                ></div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="weekdays"></tr>
            <tr mat-row *matRowDef="let row; columns: weekdays"></tr>
          </table>
        </div>

        <div
          class="col-start-3 rounded centered-container"
          [ngSwitch]="route.status"
        >
          <p>
            Estado:
            <span *ngSwitchCase="'PREORDER'" class="text-blue_3"
              >En preventa</span
            >
            <span *ngSwitchCase="'OPENED'" class="text-blue_3"
              >En Distribución</span
            >
            <span *ngSwitchCase="'CLOSE_REQUEST'" class="text-blue_3"
              >Solicitud de cierre</span
            >
            <span *ngSwitchCase="'CLOSED'" class="text-blue_3">Cerrada</span>
            <span *ngSwitchCase="'WHITOUT'" class="text-blue_3"
              >Sin distribuciones</span
            >
          </p>
          <button
            mat-raised-button
            type="button"
            class="w-1/2 mt-5 bg-blue_3 text-white button-status"
            style="background-color: #404452; color: white"
          >
            {{
              route.status
                ? route.status.toString() === "PREORDER"
                  ? "Ir a la preventa"
                  : route.status.toString() === "OPENED"
                  ? "Ir a la distribución"
                  : route.status.toString() === "CLOSE_REQUEST"
                  ? "Ir a la distribución"
                  : route.status.toString() === "CLOSED"
                  ? "Ver último reporte"
                  : "Iniciar Distribución"
                : "Iniciar Distribución"
            }}
          </button>
          <button
            mat-raised-button
            type="button"
            class="w-1/2 mt-5 bg-blue_3 text-white button-status"
            style="background-color: #6fdb90; color: white"
            *ngIf="route.status ? route.status.toString() === 'CLOSED' : false"
          >
            Iniciar Distribución
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
