<div class="m-4">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let route of routes">
      <mat-expansion-panel-header>
        <div class="w-full grid grid-cols-3 gap-32">
          <div class="col-start-1 rounded">
            <p>
              Ruta: <span class="text-blue_1">{{ route.name }}</span>
            </p>
          </div>

          <div class="col-start-2 rounded">
            <p>
              Lugar de Reparto:
              <span class="text-blue_2">{{ route.location }}</span>
            </p>
          </div>

          <div class="col-start-3 rounded">
            <p>
              Días de Reparto:
              <span class="text-green_1">{{ route.weekdays }}</span>
            </p>
          </div>
        </div>
      </mat-expansion-panel-header>

      <div class="w-full grid grid-cols-4 gap-4">
        <div class="col-start-1 col-span-2">
          <table mat-table [dataSource]="rowData" class="mat-elevation-z8">
            <ng-container
              *ngFor="let weekday of weekdays"
              matColumnDef="{{ weekday }}"
            >
              <th mat-header-cell *matHeaderCellDef>{{ weekday }}</th>
              <td mat-cell *matCellDef="let element">
                <div
                  class="bg-{{
                    getBooleanDay(route, weekday) ? 'green_2' : 'white'
                  }}"
                >
                  hola {{ element }}
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="weekdays"></tr>
            <tr mat-row *matRowDef="let row; columns: weekdays"></tr>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
