<div class="px-5 pb-10">
  <div
    class="mt-5 w-full bg-white flex items-center px-5 pt-2 grid grid-cols-12 shadow-lg gap-y-2"
    *ngIf="distributions.length > 0"
  >
    <mat-form-field class="mr-5 translate-y-2 col-span-9">
      <mat-label>Buscar Cliente</mat-label>
      <input
        matInput
        placeholder="Nombre, número de telefono o dirección..."
        #input
        (keydown)="filterClients($event)"
      />
      <button
        mat-icon-button
        style="position: absolute; right: 0; top: 5px"
        (click)="filterClients(input.value)"
      >
        <mat-icon matSuffix class="cursor-pointer">search</mat-icon>
      </button>
      <button
        mat-icon-button
        style="position: absolute; right: 50px; top: 5px"
        (click)="clearFilter(input)"
      >
        <mat-icon matSuffix class="cursor-pointer">close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="translate-y-2 col-span-3">
      <mat-select
        [value]="preSaleStorage.actualDistribution?.route_id"
        (selectionChange)="changeRoute($event)"
      >
        <mat-option
          *ngFor="let distribution of distributions"
          [value]="distribution.route_id"
          >{{ distribution.route.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <p class="text-lg mb-5 col-span-{{role == 'Distribuidor'? '4': '3'}}">
      Ruta
      <span class="text-cyan font-black">{{
        preSaleStorage.actualDistribution?.route?.name
      }}</span>
    </p>


    <div class="text-right w-full col-span-8">
      <button
        class="inline-block 2xl:mr-5"
        (click)="openDialog(4, null)"
        style="
          background-color: #6E96DB;
          color: white;
          transform: translateY(-10px);
          width: 167px;
        "
        mat-raised-button
        *ngIf="role == 'Distribuidor'"
      >
        Envases Rotos 
      </button>
      <button
        class="inline-block ml-2 2xl:mr-5"
        (click)="openDialog(3, null)"
        style="
          background-color: #dc7297;
          color: white;
          transform: translateY(-10px);
          width: 167px;
        "
        mat-raised-button
        *ngIf="role == 'Distribuidor'"
      >
        Solicitud de cierre
      </button>
      <button
        class="inline-block w-[166px] mt-2 ml-2 lg:mt-auto"
        (click)="openDialog(2, null)"
        style="
          background-color: #72dcdc;
          color: white;
          transform: translateY(-10px);
          width: 167px;
        "
        mat-raised-button
        *ngIf="role == 'Distribuidor'"
      >
        Registrar gasto
      </button>
    </div>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 mt-5"
    *ngIf="distributions.length > 0"
  >
    <ng-container matColumnDef="Orden">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="
          element.is_served && role == 'Distribuidor'
            ? ' background-color: rgba(109, 219, 218, 0.1);'
            : ''
        "
      >
        {{ element.route_order }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Cliente">
      <th mat-header-cell *matHeaderCellDef style="padding: 0; min-width: 150px;">Cliente</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="
          element.is_served && role == 'Distribuidor'
            ? ' background-color: rgba(109, 219, 218, 0.1); width: fit-content'
            : ''
        "
        style="padding: 0;"
      >
        <p>{{ element.name }}</p>
        <p *ngIf="role == 'Distribuidor' && element.tape_preference != 'NORMAL'" class="text-xs text-blue_2 font-bold">{{ element.tape_preference == 'NORMAL' ? 'Normal': 'Servifácil' }}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="deuda/envases" *ngIf="role == 'Distribuidor'">
      <th mat-header-cell *matHeaderCellDef style="padding: 0; min-width: 83px;">Deuda / Envases</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="
          element.is_served && role == 'Distribuidor'
            ? ' background-color: rgba(109, 219, 218, 0.1);'
            : ''
        "
        style="padding: 0; min-width: 83px;"
      >
        <p class="text-warn" *ngIf="element.totalDebt">
         $. {{ element.totalDebt | formatNumberMiles }}
        </p>
        <p class="text-blue_3" *ngIf="element.borrowedContainers">
          {{ element.borrowedContainers }} envases
        </p>
      </td>
    </ng-container>


    <ng-container matColumnDef="Telefono" *ngIf="role == 'Prevendedor'">
      <th mat-header-cell *matHeaderCellDef>Telefono</th>
      <td mat-cell *matCellDef="let element">
        <div>
          <mat-icon class="translate-y-2 text-[19px]" [ngStyle]="{
            color: element.is_contactable ? '#6FDB90' : '#DB6F6F'
          }">phone</mat-icon>
          <span class="ml-1"> {{ element.cellphone }}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Dirección" *ngIf="role == 'Distribuidor'">
      <th mat-header-cell *matHeaderCellDef>Dirección</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="
          element.is_served ? ' background-color: rgba(109, 219, 218, 0.1)' : ''
        "
      >
        <span class="text-blue_3 font-black" *ngIf="element.neighborhood"
          >{{ element.neighborhood }}<br
        /></span>
        {{ element.address }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Observaciones" *ngIf="role == 'Distribuidor'">
      <th mat-header-cell *matHeaderCellDef style="padding: 0; min-width: 160px;">Observaciones</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="
          element.is_served
            ? ' background-color: rgba(109, 219, 218, 0.1);'
            : ''
        "
      >
        <ul *ngFor="let observation of element.note">
          <li
            [style.color]="
              observation.distribution_id != null ? 'black' : '#6EB8DB'
            "
            [style.font-weight]="
              observation.distribution_id == null ? 'bolder' : 'normal'
            "
          >
            {{ observation.description }}
          </li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="Cantidad" *ngIf="role == 'Distribuidor'">
      <th mat-header-cell *matHeaderCellDef style="padding: 0">Cantidad <span class="text-blue_3 font-black">({{getTotalProductsSelled(true)}})</span></th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="
          element.is_served
            ? ' background-color: rgba(109, 219, 218, 0.1); width: 100px'
            : 'width: 100px'
        "
        style="padding: 0"
      >
        <div class="grid grid-cols-2">
          <span class="flex items-center justify-center inline-block">{{
            element.sale
              ? element.sale.amount
              : element.order
              ? element.order.amount
              : element.quantity ?? 0
          }}</span>
          <button
            mat-icon-button
            style="display: inline"
            (click)="openDialog(0, element)"
            [disabled]="element.is_served && !element.editable"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Total a pagar" *ngIf="role == 'Distribuidor'">
      <th mat-header-cell *matHeaderCellDef>Total a pagar</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="
          element.is_served
            ? 'background-color: rgba(109, 219, 218, 0.1); width: 120px'
            : 'width: 120px'
        "
      >
        <span
          >$
          {{
            (element.sale
              ? element.sale.unit_value * element.sale.amount
              : element.unit_value *
                (element.order
                  ? element.order.amount
                  : element.quantity == "-"
                  ? 0
                  : element.quantity)
            ) | formatNumberMiles
          }}</span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="Total pagado" *ngIf="role == 'Distribuidor'">
      <th mat-header-cell *matHeaderCellDef style="padding: 0">Total pagado</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="
          element.is_served
            ? ' background-color: rgba(109, 219, 218, 0.1); width: 150px'
            : 'width: 150px'
        "
        style="padding: 0"
      >
        <div class="grid grid-cols-2">
          <p class="flex items-center inline-block">
            $
            {{
              (element.sale ? element.sale.value_paid : element.value_paid)
                | formatNumberMiles
            }}
          </p>
          <button
            mat-icon-button
            style="display: inline"
            (click)="openDialog(1, element)"
            [disabled]="
              (element.is_served && !element.editable) ||
              (element.sale
                ? element.sale.amount == 0
                : element.order
                ? element.order.amount == 0
                : element.quantity != '-'
                ? element.quantity == 0
                : true)
            "
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Deudas" *ngIf="role == 'Prevendedor'">
      <th mat-header-cell *matHeaderCellDef>Deudas</th>
      <td mat-cell *matCellDef="let element">
        $ {{ element.totalDebt ?? 0 | formatNumberMiles }}
      </td>
    </ng-container>

    <ng-container
      matColumnDef="Envases Prestados"
      *ngIf="role == 'Prevendedor'"
    >
      <th mat-header-cell *matHeaderCellDef>Envases Prestados</th>
      <td mat-cell *matCellDef="let element">
        {{ element.borrowedContainers ?? 0 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Observaciones" *ngIf="role == 'Prevendedor'">
      <th mat-header-cell *matHeaderCellDef>Observaciones</th>
      <td mat-cell *matCellDef="let element">
        <ul *ngFor="let observation of element.note">
          <li
            [style.color]="
              observation.distribution_id != null ? 'black' : '#6EB8DB'
            "
            [style.font-weight]="
              observation.distribution_id == null ? 'bolder' : 'normal'
            "
          >
            {{ observation.description }}
          </li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="Cantidad" *ngIf="role == 'Prevendedor'">
      <th mat-header-cell *matHeaderCellDef>Cantidad<span class="text-blue_3 font-black ml-2">({{getTotalProductsSelled(false)}})</span></th>
      <td mat-cell *matCellDef="let element">
        <div class="grid grid-cols-3">
          {{ element.order?.amount ?? element.quantity ?? 0 }}
          <app-circle-button
            color="#FFEAEA"
            [disabled]="element.order && !element.editable"
            (click)="decrementQuantity(element)"
          ></app-circle-button>
          <app-circle-button
            text="+"
            color="#EBFFED"
            [disabled]="element.order && !element.editable"
            (click)="incrementQuantity(element)"
          ></app-circle-button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Atendido" *ngIf="role == 'Prevendedor'">
      <th mat-header-cell *matHeaderCellDef>Atendido<span class="text-blue_3 font-black ml-2">({{getTotalClientsAnswered(false)}})</span></th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          color="primary"
          [checked]="element.order"
          (change)="updateOrCreateOrder(element, checkBoxOrder.checked)"
          #checkBoxOrder
          >Contestó</mat-checkbox
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="Entregado" *ngIf="role == 'Distribuidor'">
      <th mat-header-cell *matHeaderCellDef style="padding: 0">Atendido <span class="text-green_1 font-black">({{getTotalClientsAnswered(true)}})</span></th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="
          element.is_served
            ? '
        background-color: rgba(109, 219, 218, 0.1);  max-width: 10px; padding: 0; text-align: center; position: relative;'
            : 'max-width: 10px; padding: 0; text-align: center; position: relative;'
        "
      >
        <mat-checkbox
          color="primary"
          [checked]="element.is_served"
          (change)="updateOrCreateSale(element, checkBox.checked)"
          #checkBox
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef style="padding-left: 0"></th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="
          element.is_served && role == 'Distribuidor'
            ? ' background-color: rgba(109, 219, 218, 0.1);width: fit-content; padding-left: 0'
            : 'width: fit-content; padding-left: 0'
        "
      >
        <button
          mat-icon-button
          style="display: inline"
          (click)="showDialogClient(element, 1)"
        >
          <mat-icon>info</mat-icon>
        </button>
        <button
          mat-icon-button
          style="display: inline"
          (click)="showDialogClient(element, 2)"
          [disabled]="!element.order"
          *ngIf="role == 'Prevendedor'"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="
        role == 'Prevendedor' ? displayedColumns : displayedColumnsDistribution
      "
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: role == 'Prevendedor'
          ? displayedColumns
          : displayedColumnsDistribution
      "
    ></tr>
  </table>
  <div
    class="bg-white text-center"
    *ngIf="dataSource.data.length == 0 && distributions.length > 0"
  >
    <img
      src="assets/images/no_data_image.jpg"
      class="inline-block"
      alt=""
      width="300"
    />
    <p class="text-2xl text-blue_3">
      No se encuentran resultados o no hay clientes registrados en esta ruta
    </p>
    <div class="h-10"></div>
  </div>

  <div
    class="mt-5 w-full bg-white px-5 pt-2 shadow-lg p-10 text-center"
    *ngIf="distributions.length == 0"
  >
    <img
      src="assets/images/no_data_image.jpg"
      class="inline-block"
      alt=""
      width="500"
    />
    <p class="text-4xl text-blue_3">
      Oops! No te encontramos distribuciones registradas en curso
    </p>
  </div>
</div>
