<app-modal>
  <div class="md:grid md:grid-cols-12 md:gap-x-5 md:w-[95%] lg:w-[95%] mx-auto">
    <div class="col-span-12 px-4">
      <h1 class="font-black text-2xl mb-4">Crear Ruta</h1>
      <div class="sm:mx-4 md:mx-4">
        <form class="grid grid-cols-12 gap-5" [formGroup]="form">
          <mat-form-field appearance="fill" class="col-span-12 md:col-span-6">
            <mat-label>Nombre de la Ruta</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="Digite el nombre de la ruta"
            />
            <mat-error *ngIf="form.get('name')?.hasError('required')"
              >Nombre de la Ruta es requerido</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-span-12 md:col-span-6">
            <mat-label>Lugar</mat-label>
            <input
              matInput
              formControlName="location"
              placeholder="Digite el lugar de la Ruta"
            />
            <mat-error *ngIf="form.get('location')?.hasError('required')"
              >Lugar es requerido</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-span-12 md:col-span-6">
            <mat-label>Precio de venta</mat-label>
            <span class="absolute" *ngIf="input.value">$</span>
            <input
              placeholder="Digite el lugar de la Ruta"
              formControlName="price"
              class="translate-x-3"
              type="number"
              min="0"
              value="0"
              step="500"
              matInput
              #input
            />
            <mat-error *ngIf="form.get('price')?.hasError('required')"
              >Precio de Venta es requerido</mat-error
            >
            <mat-error *ngIf="form.get('price')?.hasError('min')"
              >El precio mínimo es de 1000</mat-error
            >
          </mat-form-field>
          <!-- Días de distribución -->
          <div class="col-span-10">
            <mat-label>Días de distribución</mat-label>
            <div class="flex md:flex-row flex-col">
              <mat-checkbox formControlName="monday">Lunes</mat-checkbox>
              <mat-checkbox formControlName="tuesday">Martes</mat-checkbox>
              <mat-checkbox formControlName="wednesday">Miércoles</mat-checkbox>
              <mat-checkbox formControlName="thursday">Jueves</mat-checkbox>
              <mat-checkbox formControlName="friday">Viernes</mat-checkbox>
              <mat-checkbox formControlName="saturday">Sábado</mat-checkbox>
              <mat-checkbox formControlName="sunday">Domingo</mat-checkbox>
            </div>
            <mat-error *ngIf="!atLeastOneCheckboxSelected()"
              >Debe seleccionar al menos un día</mat-error
            >
          </div>
        </form>
      </div>
    </div>
  </div>

  <div
    class="md:grid md:grid-cols-2 md:gap-x-5 md:w-[90%] lg:w-[90%] mx-auto flex flex-row"
  >
    <button
      mat-raised-button
      class="block md:inline-block col-span-1"
      style="
        background-color: #404452;
        color: white;
        padding: 0 50px;
        margin: 15px auto;
      "
      (click)="close()"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      class="block md:inline-block col-span-1"
      [disabled]="!isFormValid"
      (click)="agregarRuta()"
    >
      Agregar
    </button>
  </div>
</app-modal>
