<app-modal>
  <div class="w-[700px]">
    <div class="px-10 pb-5 text-center">
      <h1 class="font-black text-3xl text-center">
        Cliente
        <span class="text-blue_3">{{ preSaleStorage.actualClient?.name }}</span>
      </h1>
    </div>
    <h1 class="pl-10 text-2xl text-left mb-5">
      Cantidad de botellones a vender
    </h1>
    <div class="grid grid-cols-3 px-10 pb-5">
      <div class="text-left">
        <button
          mat-raised-button
          style="
            background-color: #db6f6f;
            color: white;
            font-size: xx-large;
            width: 100px;
            height: 100px;
            border-radius: 100%;
          "
          (click)="decrementQuanty()"
        >
          -
        </button>
      </div>
      <input
        type="number"
        class="text-5xl border border-2 border-gray rounded text-center"
        [(ngModel)]="quantity == '-' ? 0 : quantity"
      />
      <div class="text-right">
        <button
          mat-raised-button
          style="
            background-color: #6fdb90;
            color: white;
            font-size: xx-large;
            width: 100px;
            height: 100px;
            border-radius: 100%;
          "
          (click)="incrementQuanty()"
        >
          +
        </button>
      </div>
      <p class="col-span-3 text-center">Cantidad de producto</p>
    </div>
    <h1 class="pl-10 text-2xl text-left mb-5">Precio por unidad</h1>
    <div class="grid grid-cols-4 pb-5">
      <div class="text-center">
        <button
          mat-raised-button
          style="
            background-color: #db6f6f;
            color: white;
            font-size: xx-large;
            width: 100px;
            height: 100px;
            border-radius: 100%;
          "
          (click)="decrementPrice()"
        >
          -
        </button>
      </div>
      <div class="relative col-span-2">
        <span class="absolute left-2 text-5xl top-6">$</span>
        <input
          type="number"
          class="text-5xl border border-2 border-gray rounded text-center w-full h-full"
          max="100000"
          [(ngModel)]="price"
        />
      </div>
      <div class="text-center">
        <button
          mat-raised-button
          style="
            background-color: #6fdb90;
            color: white;
            font-size: xx-large;
            width: 100px;
            height: 100px;
            border-radius: 100%;
          "
          (click)="incrementPrice()"
        >
          +
        </button>
      </div>
      <p class="col-span-4 text-center">Precio de venta</p>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-5 w-full px-5 mb-5">
    <div class="text-right">
      <button
        mat-raised-button
        type="button"
        class="w-1/2 mt-5 bg-blue_1 text-white button-status"
        style="background-color: #000000; color: white"
        (click)="cancel()"
      >
        Cancelar
      </button>
    </div>
    <button
      mat-raised-button
      type="button"
      class="w-1/2 mt-5 bg-blue_1 text-white button-status"
      style="background-color: #6fdb90; color: white"
      (click)="saveAndClose()"
    >
      Guardar
    </button>
  </div>
</app-modal>
