<div class="h-screen w-screen bg-white_dark">
  <div class="h-12 w-full bg-white">
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
  </div>
  <div class="px-10">
    <div class="mt-5 w-full h-12 bg-white flex items-center pl-5 pt-2">
      <p class="text-lg">Hola <span class="text-teal-400">Cristian</span>, Bienvenidos de vuelta</p>
    </div>
    <div class="mt-5 w-full grid grid-cols-4 gap-10">
        <div class="h-32 bg-blue_1 rounded-lg"></div>
        <div class="h-32 bg-blue_2 rounded-lg"></div>
        <div class="h-32 bg-green_1 rounded-lg"></div>
        <div class="h-32 bg-green_2 rounded-lg"></div>
    </div>
  </div>
</div>
