<div class="h-screen w-12 fixed bg-blue_dark"></div>
<div class="pb-10 bg-white_dark translate-x-12" style="width: calc(100vw - 48px);">
  <div class="h-12 w-full bg-white">
    <button mat-icon-button><mat-icon class="text-gray">menu</mat-icon></button>
    <span class="ml-10">
      <mat-icon class="text-gray">search</mat-icon>
      <input style="color: #C9C9C9;" value="Buscar..." class="translate-y-[-8px] ml-2">
    </span>
    <div class="float-right grid grid-cols-9">
      <div class="col-span-7 relative">
        <p class="absolute top-2 text-right w-full pr-3">Cristian Parada</p>
        <p class="absolute top-5 text-right w-full pr-3" style="color: #6DDBDA;">Prevendedor</p>
      </div>
      <div class="col-span-2 mr-2 mt-1">
        <img src="/assets/icons/photo.png" width='40'>
      </div>
    </div>
  </div>
  <div class="px-10">
    <div class="mt-5 w-full h-12 bg-white flex items-center pl-5 pt-2">
      <p class="text-lg">
        Hola <span class="text-teal-400">Cristian</span>, Bienvenido de vuelta
      </p>
    </div>
    <div class="mt-5 w-full grid grid-cols-4 gap-10">
      <app-card
        title="Rutas en curso"
        footer="Moniquira Lunes"
        color="blue_1"
        [height]="32"
        img_path="/assets/icons/icon1.png"
      ></app-card>
      <app-card
        title="Preventas Realizadas"
        footer="202 preventas"
        color="blue_2"
        [height]="32"
        img_path="/assets/icons/icon2.png"
      ></app-card>
      <app-card
        title="Clientes Totales"
        subtitle="Contestaron / No Contestaron"
        footer="210 / 301"
        subfooter="511 Clientes"
        color="green_1"
        [height]="32"
        img_path="/assets/icons/icon3.png"
      ></app-card>
      <app-card
        title="Productos vendidos"
        footer="1200 Productos"
        color="green_2"
        [height]="32"
        img_path="/assets/icons/icon4.png"
      ></app-card>
    </div>
    <div class="mt-5 grid grid-cols-2 gap-10">
      <app-card-info class="h-[600px]"></app-card-info>
      <div>
        <app-card-info class="h-[280px] block"></app-card-info>
        <app-card-info class="h-[280px] mt-10 block"></app-card-info>
      </div>
    </div>
  </div>
</div>