<div class="h-full w-full">
  <div class="px-10 pt-2">
    <div
      class="mt-5 w-full h-12 bg-white flex items-center pl-5 pt-2 shadow-lg"
    >
      <p class="text-lg">
        Hola <span class="text-teal-400">Cristian</span>, Bienvenido de vuelta
      </p>
    </div>
    <div class="mt-5 w-full grid grid-cols-4 gap-10">
      <app-card
        title="Rutas en curso"
        footer="Moniquira Lunes"
        color="blue_1"
        [height]="32"
        img_path="/assets/icons/icon1.png"
      ></app-card>
      <app-card
        title="Preventas Realizadas"
        footer="202 preventas"
        color="blue_2"
        [height]="32"
        img_path="/assets/icons/icon2.png"
      ></app-card>
      <app-card
        title="Clientes Totales"
        subtitle="Contestaron / No Contestaron"
        footer="210 / 301"
        subfooter="511 Clientes"
        color="green_1"
        [height]="32"
        img_path="/assets/icons/icon3.png"
      ></app-card>
      <app-card
        title="Productos vendidos"
        footer="1200 Productos"
        color="green_2"
        [height]="32"
        img_path="/assets/icons/icon4.png"
      ></app-card>
    </div>
    <div class="mt-5 grid grid-cols-2 gap-10">
      <app-card-info class="h-[600px]"></app-card-info>
      <div>
        <app-card-info class="h-[280px] block"></app-card-info>
        <app-card-info class="h-[280px] mt-10 block"></app-card-info>
      </div>
      <mat-card class="p-5 mb-10">
        <div class="grid grid-cols-12 h-36">
          <div
            class="col-span-2 rounded-full border border-cyan border-8 flex items-center justify-center"
          >
            <span class="text-cyan font-black text-2xl">1442</span>
          </div>
          <div class="col-span-10 pl-5">
            <p class="font-black text-2xl">Total de productos vendidos</p>
            <p class="mt-5">
              En la fecha
              <span class="text-green_2 font-black">14 de Marzo de 2024</span>
              se reportó la venta de
              <span class="text-cyan font-black">1442</span> productos
            </p>
          </div>
        </div>
        <p class="font-black text-2xl mt-5">
          Total de productos vendidos por tipo de tapa
        </p>
        <p class="mt-5">
          Se han vendido
          <span class="text-green_2 font-black">942</span> productos con tapa
          normal y <span class="text-blue_3 font-black">500</span> con tapa
          servifacil
        </p>

        <ngx-charts-bar-horizontal
          class="mt-10"
          [view]="view"
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
        >
        </ngx-charts-bar-horizontal>
      </mat-card>
      <mat-card class="p-5 mb-10 h-[250px]">
        <div class="grid grid-cols-12 h-36">
          <div class="col-span-4">
            <ngx-charts-pie-chart
              [view]="viewPie"
              [scheme]="colorScheme"
              [results]="singlePie"
              [gradient]="gradient"
              [legend]="showLegend"
              [legendPosition]="legendPosition"
              [labels]="showLabels"
              [doughnut]="isDoughnut"
            >
            </ngx-charts-pie-chart>
          </div>
          <div class="col-span-8 pl-5 text-right">
            <p class="font-black text-2xl">Total de clientes ruta</p>
            <p class="font-bold text-xl">Contestaron / No contestaron</p>
            <p class="mt-5 text-justify">
              En la fecha
              <span class="text-green_2 font-black">14 de Marzo de 2024</span>
              se reportó que
              <span class="font-black text-cyan">210</span> clientes contestaron
              y <span class="font-black text-blue_1">301</span> no contestaron
            </p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>