<app-lateral-bar *ngIf="!auth.isLoginView"></app-lateral-bar>
<div
  class="translate-x-[70px]"
  style="width: calc(100vw - 70px)"
  *ngIf="!auth.isLoginView"
>
  <div class="h-12 bg-white" style="width: calc(100vw - 70px)">
    <button mat-icon-button><mat-icon class="text-gray">menu</mat-icon></button>
    <div
      class="float-right grid grid-cols-9 mr-2 cursor-pointer"
      [matMenuTriggerFor]="menu"
    >
      <div class="col-span-7 relative">
        <p class="absolute top-2 text-right w-full pr-3">
          {{ appStorage.username }}
        </p>
        <p class="absolute top-6 text-right w-full pr-3" style="color: #6ddbda">
          {{ appStorage.actualRol }}
        </p>
      </div>
      <div class="col-span-2 mr-2 mt-1">
        <img src="/assets/icons/photo.png" width="40" />
      </div>
    </div>
  </div>
  <div class="" style="width: calc(100vw - 70px)">
    <router-outlet></router-outlet>
  </div>
</div>
<router-outlet *ngIf="auth.isLoginView"></router-outlet>
<app-spinner *ngIf="spinner.IsShowSpinner"></app-spinner>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="changeRole()">
    <mat-icon>account_circle</mat-icon>
    <span>Cambiar de rol</span>
  </button>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>
