<div
  class="h-screen fixed bg-blue_dark p-2 overflow-hidden z-40"
  [ngStyle]="
    mode == 'Lateral'
      ? { width: appStorage.lateralMenuExpansion ? '150px' : '70px' }
      : { width: '100%', bottom: 0 }
  "
  style="transition: ease-in-out 200ms"
  [style]="mode == 'Below' ? 'height: 48px' : ''"
>
  <div *ngIf="mode == 'Lateral' && !appStorage.lateralMenuExpansion">
    <img
      src="assets/icons/logo_basic_icon.png"
      alt=""
      class="mb-8"
      width="54"
    />
    <div
      *ngFor="let icon of icons"
      class="relative"
      (click)="
        appStorage.selectionMenu = icon.index; redirectTo(icon.redirectTo)
      "
      style="transition: ease-in-out 200ms"
    >
      <app-icon
        [iconPath]="icon.iconPath"
        [color]="icon.index == appStorage.selectionMenu ? '#6DDBDA' : '#7E86A0'"
        class="cursor-pointer"
        [size]="icon.size"
      ></app-icon>
      <div class="h-5"></div>
      <div
        *ngIf="icon.index == appStorage.selectionMenu"
        class="h-full translate-y-[-10px] translate-x-[-8px] w-1 absolute top-0"
        [ngStyle]="{
          'background-color':
            icon.index == appStorage.selectionMenu ? '#6DDBDA' : '#7E86A0'
        }"
      ></div>
    </div>
  </div>
  <div *ngIf="mode == 'Lateral' && appStorage.lateralMenuExpansion">
    <div class="text-center">
      <img
        src="assets/icons/logo-oneline.png"
        alt=""
        class="mb-8 inline-block"
        width="134"
      />
    </div>
    <div
      *ngFor="let icon of icons"
      class="relative cursor-pointer"
      (click)="
        appStorage.selectionMenu = icon.index; redirectTo(icon.redirectTo)
      "
    >
      <app-icon
        [iconPath]="icon.iconPath"
        [color]="icon.index == appStorage.selectionMenu ? '#6DDBDA' : '#7E86A0'"
        class="text-left translate-x-[10px] inline-block"
        [size]="icon.size"
      ></app-icon>
      <span
        [style]="
          icon.index == appStorage.selectionMenu
            ? 'color: #6DDBDA'
            : 'color: #7E86A0'
        "
        class="absolute left-12 top-1.5 font-bold text-sm"
        >{{ icon.text }}</span
      >
      <div class="h-5"></div>
      <div
        *ngIf="icon.index == appStorage.selectionMenu"
        class="h-full translate-y-[-10px] translate-x-[-8px] w-1 absolute top-0"
        [ngStyle]="{
          'background-color':
            icon.index == appStorage.selectionMenu ? '#6DDBDA' : '#7E86A0'
        }"
      ></div>
    </div>
    <p
      style="color: #7e86a0"
      class="absolute bottom-2 font-bold text-sm w-[130px] text-center"
    >
      Version 1.0.0
    </p>
  </div>
  <div *ngIf="mode == 'Below'" class="flex justify-around">
    <span
      *ngFor="let icon of icons"
      (click)="
        appStorage.selectionMenu = icon.index; redirectTo(icon.redirectTo)
      "
    >
      <app-icon
        [iconPath]="icon.iconPath"
        [color]="icon.index == appStorage.selectionMenu ? '#6DDBDA' : '#7E86A0'"
        class="cursor-pointer inline"
        [size]="icon.size"
        [matTooltip]="icon.text"
      ></app-icon>
    </span>
    <img
      src="assets/icons/logo_basic_icon.png"
      alt=""
      class="fixed icon_animation"
      width="50"
    />
  </div>
</div>
