<app-modal>
  <form class="px-5 text-center w-[350px]" [formGroup]="formChangePassword" >
    <h1 class="text-2xl font-bold">Cambio de contraseña</h1>
    <p class="my-5 text-justify">
      Sabemos que eres tú, solo porfavor indica la contraseña anterior y una
      nueva para poder continuar con el proceso
    </p>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Digita la contraseña anterior</mat-label>
      <input matInput type="password" formControlName="oldPassword"/>
      <mat-error
        *ngIf="formChangePassword.get('oldPassword')?.hasError('required')"
        >Este campo es requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Repite la nueva contraseña</mat-label>
      <input matInput type="password" formControlName="newPassword"/>
      <mat-error
        *ngIf="formChangePassword.get('newPassword')?.hasError('required')"
        >Este campo es requerido</mat-error
      >
    </mat-form-field>
    <div class="grid grid-cols-2 gap-5 w-full my-5">
      <div class="text-right">
        <button
          mat-raised-button
          type="button"
          class="w-[150px] mt-5 bg-blue_1 text-white button-status"
          style="background-color: #000000; color: white"
          (click)="close()"
        >
          Cancelar
        </button>
      </div>
      <button
        mat-raised-button
        type="button"
        class="w-[150px] mt-5 bg-blue_1 text-white button-status"
        [style]="
          formChangePassword.invalid
            ? 'background-color: #999; color: white'
            : 'background-color: #6fdb90; color: white'
        "
        [disabled]="formChangePassword.invalid"
        (click)="changePassword()"
      >
        Actualizar
      </button>
    </div>
  </form>
</app-modal>
