/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-size: medium;
}


ol, ul{
  list-style: square
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  background-color: #E2E2E2;
  overflow-x: hidden;
}
.mdc-notched-outline__notch {
  border: none;
}
.mat-mdc-card{
  border: 1px solid #dadada !important;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25) !important;
}

.mdc-evolution-chip-set__chips {
  justify-content: center !important;
}

.mat-expansion-panel-body{
  padding: 0 !important;
}

g[ngx-charts-axis-label]{
  display: none;
}

@media (max-width: 600px) {
  .media-query-table .mat-table {
    display: block;
  }

  .media-query-table .mat-mdc-header-row, .media-query-table .mat-mdc-row {
    display: contents;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    margin-bottom: 16px; /* Añadir espacio entre filas */
    padding: 8px; /* Añadir padding alrededor de cada fila */
    border-radius: 8px; /* Añadir bordes redondeados para mejor estética */
  }

  .media-query-table .mat-mdc-header-row {
    display: none;
  }

  .media-query-table .mat-mdc-cell, .media-query-table .mat-mdc-header-cell {
    display: block;
    width: 100%;
    text-align: left;
    padding: 12px 16px; /* Incrementar el padding para mayor separación */
  }

  .media-query-table .mat-mdc-cell {
    overflow-y: auto;
    height: 49px !important;
    border-bottom: 1px solid #e0e0e0; /* Añadir un borde inferior a las celdas */
  }
}
