<div class="p-2 pb-14 md:p-5">
  <mat-card class="mb-5 p-5">
    <a
      mat-raised-button
      style="background-color: #404452; color: white"
      class="w-full md:w-1/3"
      routerLink="/admin/routes"
    >
      <mat-icon>arrow_back</mat-icon>
      Regresar atrás
    </a>
    <h1 class="text-2xl font-black mt-5">Reporte de distribución</h1>
    <p class="text-blue_2 font-bold">
      {{ routeStorage.actualRoute?.name ?? "MIERCOLES SOCORRO" }}
    </p>
  </mat-card>
  <div *ngIf="!appStorage.isDesktop; else desktopView" class="grid grid-cols-4">
    <app-card
      class="col-span-4 md:col-span-1"
      title="Total Vendido"
      [footer]="'$' + (totalSales | formatNumberMiles)"
      color="blue_2"
      [height]="32"
      img_path="/assets/icons/icon2.png"
    ></app-card>

    <mat-card class="col-span-4 md:col-span-1 mt-5" #sales_mobile>
      <h1 class="pl-5 text-2xl font-black mt-5">
        Ventas realizadas
        <span class="text-green_2 font-bold text-sm"
          >(${{ totalSales | formatNumberMiles }})</span
        >
      </h1>
      <h1 class="pl-5 mb-5">(Efectivo, Nequi, Bancolombia, Daviplata)</h1>
      <ngx-charts-area-chart
        [view]="viewSales"
        [scheme]="reportsStorage.colorScheme"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [timeline]="true"
        [results]="dataSales"
        class="translate-x-[-30px]"
      >
      </ngx-charts-area-chart>
      <div
        class="translate-y-[-30] inline-block mb-5"
        style="margin-top: -75px"
      >
        <h1 class="pl-5 text-2xl mb-2 font-black">Metodo de pago</h1>
        <div class="grid grid-cols-2 pl-5">
          <div>
            <p>Efectivo</p>
            <p>Nequi</p>
            <p>Daviplata</p>
            <p>Bancolombia</p>
          </div>
          <div>
            <p class="font-bold">
              ${{ totalSalesEfectivo | formatNumberMiles }}
            </p>
            <p class="font-bold">${{ totalSalesNequi | formatNumberMiles }}</p>
            <p class="font-bold">
              ${{ totalSalesDaviplata | formatNumberMiles }}
            </p>
            <p class="font-bold">
              ${{ totalSalesBancolombia | formatNumberMiles }}
            </p>
          </div>
        </div>
      </div>
      <div class="px-5 pb-5">
        <h1 class="text-2xl mb-2 font-black">Productos vendidos</h1>
        <div class="grid grid-cols-2 mt-2">
          <div
            class="w-36 h-36 rounded-full border border-cyan border-8 flex items-center justify-center"
          >
            <span class="text-cyan font-black text-2xl">{{
              quantitySold
            }}</span>
          </div>
          <div>
            <p class="text-justify">
              Entre la distribución se vendieron
              <span class="font-black text-blue_1">{{ quantitySold }}</span>
              productos, con un total recaudado de
              <span class="font-black text-green_2"
                >${{ totalSales | formatNumberMiles }}</span
              >
            </p>
          </div>
        </div>
      </div>
    </mat-card>

    <app-card
      class="col-span-4 md:col-span-1 mt-5"
      title="Total Gastos"
      [footer]="'$' + (totalExpenses | formatNumberMiles)"
      color="blue_1"
      [height]="32"
      img_path="/assets/icons/svg/expenses_icon.svg"
    ></app-card>

    <mat-card class="col-span-4 md:col-span-1 mt-5" #expenses_mobile>
      <h1 class="pl-5 text-2xl font-black mt-5">
        Gastos realizados
        <span class="text-green_2 font-bold text-sm"
          >(${{ totalExpenses | formatNumberMiles }})</span
        >
      </h1>
      <h1 class="pl-5 mb-5">(Alimentacion, Peajes, Transporte, Otro)</h1>
      <div class="text-center">
        <ngx-charts-pie-chart
          [view]="viewExpenses"
          [scheme]="reportsStorage.colorScheme"
          [results]="dataExpenses"
          [gradient]="true"
          [legend]="false"
          [labels]="false"
          [doughnut]="false"
          class="inline-block"
        >
        </ngx-charts-pie-chart>
      </div>
      <div class="mb-5">
        <div class="my-5 text-justify px-5">
          En la distribución se obtuvo un total de
          <span class="font-black text-blue_1"
            >${{ totalExpenses | formatNumberMiles }}</span
          >
          en gastos destinados a la ruta, donde se registro para gastos de:
          Alimentación
          <span class="font-black text-blue_1"
            >(${{ totalExpensesAlim | formatNumberMiles }})</span
          >, Peajes
          <span class="font-black text-[#FF99B7]"
            >(${{ totalExpensesPeaj | formatNumberMiles }})</span
          >, Transporte
          <span class="font-black text-blue_3"
            >(${{ totalExpensesTrans | formatNumberMiles }})</span
          >, y Otro
          <span class="font-black text-green_2"
            >(${{ totalExpensesOthers | formatNumberMiles }})</span
          >
        </div>
      </div>
    </mat-card>

    <app-card
      class="col-span-4 md:col-span-1 mt-5"
      title="Balance de Ruta"
      [footer]="'$' + (totalBalance | formatNumberMiles)"
      color="green_2"
      [height]="32"
      img_path="/assets/icons/icon5.png"
    ></app-card>

    <mat-card class="col-span-4 2xl:col-span-1 mt-5" #balance_mobile>
      <h1 class="pl-5 text-2xl font-black mt-5">
        Balance de ruta
        <span class="text-green_2 font-bold text-sm"
          >(${{ totalBalance | formatNumberMiles }})</span
        >
      </h1>
      <h1 class="pl-5 mb-5">(Ventas - Gastos)</h1>
      <div class="text-center">
        <ngx-charts-bar-vertical
          [view]="viewBalance"
          [scheme]="reportsStorage.colorScheme"
          [results]="dataBalance"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
        >
        </ngx-charts-bar-vertical>
      </div>
      <div class="my-5 text-justify px-5">
        En la distribución se ingreso un total recaudado de
        <span class="font-black text-blue_1"
          >${{ totalSales | formatNumberMiles }}</span
        >
        en ventas y salio un total de
        <span class="font-black text-green_2"
          >${{ totalExpenses | formatNumberMiles }}</span
        >
        destinado a gastos de la ruta <br /><br />
        Por lo cual el balance de ruta es de
        <span class="font-black text-blue_3"
          >${{ totalBalance | formatNumberMiles }}</span
        >
      </div>
    </mat-card>

    <app-card
      class="col-span-4 2xl:col-span-1 mt-5"
      title="Total Envases"
      subtitle="Prestados/Devueltos/Rotos"
      [footer]="containersCount"
      color="green_1"
      [height]="32"
      img_path="/assets/icons/icon6.png"
    ></app-card>

    <mat-card class="col-span-4 2xl:col-span-1 mt-5" #containers_mobile>
      <h1 class="pl-5 text-2xl font-black mt-5">
        Total Envases Inventario
        <span class="text-green_2 font-bold text-sm"
          >({{ containersCount }})</span
        >
      </h1>
      <h1 class="pl-5 font-bold">(Prestados, Devueltos, Rotos)</h1>
      <h1 class="pl-5 text-sm mb-5">(Etiquetados, No Etiquetados)</h1>
      <div class="text-center">
        <ngx-charts-bar-horizontal-2d
          [view]="viewContainers"
          [scheme]="reportsStorage.colorScheme"
          [results]="dataContainers"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
        >
        </ngx-charts-bar-horizontal-2d>
      </div>
      <div class="my-5 px-5">
        <div class="grid grid-cols-2">
          <h1 class="text-xl font-bold">Estado Envase</h1>
          <h1 class="text-xl font-bold">
            Tipo Envase <span class="text-xs font-normal">(E., No E.)</span>
          </h1>
          <div>
            <p>Prestados</p>
            <p>Devueltos</p>
            <p>Rotos</p>
          </div>
          <div>
            <p>{{ totalContainersBorrowed }}</p>
            <p>{{ totalContainersReturned }}</p>
            <p>{{ totalContainersBroken }}</p>
          </div>
        </div>
      </div>
    </mat-card>

    <app-card
      class="col-span-4 md:col-span-1 mt-5"
      title="Productos vendidos"
      subtitle="Cargue / Vendido / Sobrante"
      [footer]="chargeTotal"
      color="blue_1"
      [height]="32"
      img_path="/assets/icons/icon7.png"
    ></app-card>

    <mat-card class="col-span-4 2xl:col-span-1 mt-5" #charge_mobile>
      <h1 class="pl-5 text-2xl font-black mt-5">
        Productos Vendidos y Sobrantes
      </h1>
      <h1 class="pl-5 font-bold">(Cargue, Vendido, Sobrante)</h1>
      <span class="text-green_2 font-bold text-sm pl-5"
        >({{ chargeTotal }})</span
      >
      <div class="text-center">
        <ngx-charts-pie-chart
          [view]="viewCharge"
          [scheme]="reportsStorage.colorScheme"
          [results]="dataCharge"
          [gradient]="true"
          [legend]="false"
          [labels]="false"
          [doughnut]="true"
          class="inline-block"
        >
        </ngx-charts-pie-chart>
      </div>
      <div class="my-5 px-5">
        <div class="grid grid-cols-2">
          <h1 class="text-xl font-bold col-span-2">Cantidad de Producto</h1>
          <div>
            <p>Cargados</p>
            <p>Vendidos</p>
            <p>Sobrantes</p>
          </div>
          <div>
            <p>{{ totalCharged }}</p>
            <p>{{ quantitySold }}</p>
            <p>{{ (totalCharged ?? 0) - quantitySold }}</p>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <ng-template #desktopView>
    <div class="grid grid-cols-4 gap-2">
      <app-card
        class="col-span-4 md:col-span-2 2xl:col-span-1"
        title="Total Vendido"
        [footer]="'$' + (totalSales | formatNumberMiles)"
        color="blue_2"
        [height]="32"
        img_path="/assets/icons/icon2.png"
      ></app-card>

      <app-card
        class="col-span-4 md:col-span-2 2xl:col-span-1"
        title="Total Gastos"
        [footer]="'$' + (totalExpenses | formatNumberMiles)"
        color="blue_1"
        [height]="32"
        img_path="/assets/icons/svg/expenses_icon.svg"
      ></app-card>

      <app-card
        class="col-span-4 md:col-span-2 2xl:col-span-1"
        title="Balance de Ruta"
        [footer]="'$' + (totalBalance | formatNumberMiles)"
        color="green_2"
        [height]="32"
        img_path="/assets/icons/icon5.png"
      ></app-card>

      <app-card
        class="col-span-4 md:col-span-2 2xl:col-span-1"
        title="Total Envases"
        subtitle="Prestados/Devueltos/Rotos"
        [footer]="containersCount"
        color="green_1"
        [height]="32"
        img_path="/assets/icons/icon6.png"
      ></app-card>

      <app-card
        class="col-span-4 md:col-span-2 2xl:col-span-1"
        title="Productos vendidos"
        subtitle="Cargue / Vendido / Sobrante"
        [footer]="chargeTotal"
        color="blue_1"
        [height]="32"
        img_path="/assets/icons/icon7.png"
      ></app-card>

      <div></div>
      <div class="hidden 2xl:block"></div>
      <div class="hidden 2xl:block"></div>

      <mat-card class="col-span-4 md:col-span-2 2xl:col-span-1" #sales_desktop>
        <h1 class="pl-5 text-2xl font-black mt-5">
          Ventas realizadas
          <span class="text-green_2 font-bold text-sm"
            >(${{ totalSales | formatNumberMiles }})</span
          >
        </h1>
        <h1 class="pl-5 mb-5">(Efectivo, Nequi, Bancolombia, Daviplata)</h1>
        <ngx-charts-area-chart
          [view]="viewSales"
          [scheme]="reportsStorage.colorScheme"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxis]="true"
          [yAxis]="true"
          [timeline]="true"
          [results]="dataSales"
          class="translate-x-[-30px]"
        >
        </ngx-charts-area-chart>
        <div
          class="translate-y-[-30] inline-block mb-5"
          style="margin-top: -75px"
        >
          <h1 class="pl-5 text-2xl mb-2 font-black">Metodo de pago</h1>
          <div class="grid grid-cols-2 pl-5">
            <div>
              <p>Efectivo</p>
              <p>Nequi</p>
              <p>Daviplata</p>
              <p>Bancolombia</p>
            </div>
            <div>
              <p class="font-bold">
                ${{ totalSalesEfectivo | formatNumberMiles }}
              </p>
              <p class="font-bold">
                ${{ totalSalesNequi | formatNumberMiles }}
              </p>
              <p class="font-bold">
                ${{ totalSalesDaviplata | formatNumberMiles }}
              </p>
              <p class="font-bold">
                ${{ totalSalesBancolombia | formatNumberMiles }}
              </p>
            </div>
          </div>
        </div>
        <div class="px-5 pb-5">
          <h1 class="text-2xl mb-2 font-black">Productos vendidos</h1>
          <div class="grid grid-cols-2 mt-2">
            <div
              class="w-36 h-36 rounded-full border border-cyan border-8 flex items-center justify-center"
            >
              <span class="text-cyan font-black text-2xl">{{
                quantitySold
              }}</span>
            </div>
            <div>
              <p class="text-justify">
                Entre la distribución se vendieron
                <span class="font-black text-blue_1">{{ quantitySold }}</span>
                productos, con un total recaudado de
                <span class="font-black text-green_2"
                  >${{ totalSales | formatNumberMiles }}</span
                >
              </p>
            </div>
          </div>
        </div>
      </mat-card>

      <mat-card
        class="col-span-4 md:col-span-2 2xl:col-span-1"
        #expenses_desktop
      >
        <h1 class="pl-5 text-2xl font-black mt-5">
          Gastos realizados
          <span class="text-green_2 font-bold text-sm"
            >(${{ totalExpenses | formatNumberMiles }})</span
          >
        </h1>
        <h1 class="pl-5 mb-5">(Alimentacion, Peajes, Transporte, Otro)</h1>
        <div class="text-center">
          <ngx-charts-pie-chart
            [view]="viewExpenses"
            [scheme]="reportsStorage.colorScheme"
            [results]="dataExpenses"
            [gradient]="true"
            [legend]="false"
            [labels]="false"
            [doughnut]="false"
            class="inline-block"
          >
          </ngx-charts-pie-chart>
        </div>
        <div class="my-5 text-justify px-5">
          Entre la distribución se obtuvo un total de
          <span class="font-black text-blue_1"
            >${{ totalExpenses | formatNumberMiles }}</span
          >
          en gastos destinados a la ruta, donde se registro para gastos de:
          Alimentación
          <span class="font-black text-blue_1"
            >(${{ totalExpensesAlim | formatNumberMiles }})</span
          >, Peajes
          <span class="font-black text-[#FF99B7]"
            >(${{ totalExpensesPeaj | formatNumberMiles }})</span
          >, Transporte
          <span class="font-black text-blue_3"
            >(${{ totalExpensesTrans | formatNumberMiles }})</span
          >, y Otro
          <span class="font-black text-green_2"
            >(${{ totalExpensesOthers | formatNumberMiles }})</span
          >
        </div>
      </mat-card>

      <mat-card
        class="col-span-4 md:col-span-2 2xl:col-span-1"
        #balance_desktop
      >
        <h1 class="pl-5 text-2xl font-black mt-5">
          Balance de ruta
          <span class="text-green_2 font-bold text-sm"
            >(${{ totalBalance | formatNumberMiles }})</span
          >
        </h1>
        <h1 class="pl-5 mb-5">(Ventas - Gastos)</h1>
        <div class="text-center">
          <ngx-charts-bar-vertical
            [view]="viewBalance"
            [scheme]="reportsStorage.colorScheme"
            [results]="dataBalance"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="false"
            [showXAxisLabel]="false"
            [showYAxisLabel]="false"
          >
          </ngx-charts-bar-vertical>
        </div>
        <div class="my-5 text-justify px-5">
          Entre la distribución se ingreso un total recaudado de
          <span class="font-black text-blue_1"
            >${{ totalSales | formatNumberMiles }}</span
          >
          en ventas y salio un total de
          <span class="font-black text-green_2"
            >${{ totalExpenses | formatNumberMiles }}</span
          >
          destinado a gastos de la ruta <br /><br />
          Por lo cual el balance de ruta es de
          <span class="font-black text-blue_3"
            >${{ totalBalance | formatNumberMiles }}</span
          >
        </div>
      </mat-card>

      <mat-card
        class="col-span-4 md:col-span-2 2xl:col-span-1"
        #containers_desktop
      >
        <h1 class="pl-5 text-2xl font-black mt-5">
          Total Envases Inventario
          <span class="text-green_2 font-bold text-sm"
            >({{ containersCount }})</span
          >
        </h1>
        <h1 class="pl-5 font-bold">(Prestados, Devueltos, Rotos)</h1>
        <h1 class="pl-5 text-sm mb-5">(Etiquetados, No Etiquetados)</h1>
        <div class="text-center">
          <ngx-charts-bar-horizontal-2d
            [view]="viewContainers"
            [scheme]="reportsStorage.colorScheme"
            [results]="dataContainers"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="false"
            [showXAxisLabel]="false"
            [showYAxisLabel]="false"
          >
          </ngx-charts-bar-horizontal-2d>
        </div>
        <div class="my-5 px-5">
          <div class="grid grid-cols-2">
            <h1 class="text-xl font-bold">Estado Envase</h1>
            <h1 class="text-xl font-bold">
              Tipo Envase <span class="text-xs font-normal">(E., No E.)</span>
            </h1>
            <div>
              <p>Prestados</p>
              <p>Devueltos</p>
              <p>Rotos</p>
            </div>
            <div>
              <p>{{ totalContainersBorrowed }}</p>
              <p>{{ totalContainersReturned }}</p>
              <p>{{ totalContainersBroken }}</p>
            </div>
          </div>
        </div>
      </mat-card>

      <mat-card class="col-span-4 md:col-span-2 2xl:col-span-1" #charge_desktop>
        <h1 class="pl-5 text-2xl font-black mt-5">
          Productos Vendidos y Sobrantes
        </h1>
        <h1 class="pl-5 font-bold">(Cargue, Vendido, Sobrante)</h1>
        <span class="text-green_2 font-bold text-sm pl-5"
          >({{ chargeTotal }})</span
        >
        <div class="text-center">
          <ngx-charts-pie-chart
            [view]="viewCharge"
            [scheme]="reportsStorage.colorScheme"
            [results]="dataCharge"
            [gradient]="true"
            [legend]="false"
            [labels]="false"
            [doughnut]="true"
            class="inline-block"
          >
          </ngx-charts-pie-chart>
        </div>
        <div class="my-5 px-5">
          <div class="grid grid-cols-2">
            <h1 class="text-xl font-bold col-span-2">Cantidad de Producto</h1>
            <div>
              <p>Cargados</p>
              <p>Vendidos</p>
              <p>Sobrantes</p>
            </div>
            <div>
              <p>{{ totalCharged }}</p>
              <p>{{ quantitySold }}</p>
              <p>{{ (totalCharged ?? 0) - quantitySold }}</p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </ng-template>
</div>
